{% extends 'login.html' %}

{% block title %}注册{% endblock title %}

{% block auth_form %}
<form action="" method="post" style="margin-top: 40%;" class="box">
    <div class=" has-text-centered mb-3">
        <p class=" subtitle">注册</p>
        <h1 class="title">FlaskBlog</h1>
    </div>
     <!-- 消息闪现，通用代码，要使用消息闪现可以直接复制整段 -->
     {% with messages = get_flashed_messages() %}
     <b-message type="is-danger">
       {% if messages %}
         <ul class=flashes>
         {% for message in messages %}
             <li>{{ message }}</li>
         {% endfor %}
         </ul>
     {% endif %}
     </b-message>
     {% endwith %}
    {{form.csrf_token}}
    <div class="field">
        <p class="control has-icons-left has-icons-right">
              {{ form.username(class='input', placeholder='Username here:>') }}
            <!--input class="input" type="text" name="username" id="id_username" maxlength="128" placeholder="Username"-->
            <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
            </span>
            <span class="icon is-small is-right">
                <i class="fas fa-check"></i>
            </span>
        </p>
    </div>
    <div class="field">
        <p class="control has-icons-left">
             {{form.password(class='input', placeholder='password')}}
            <!--input class="input" type="password" name="password" id="id_password" maxlength="320" minlength="6" placeholder="Password"-->
            <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
            </span>
        </p>
    </div>
    <div class="field">
        <p class="control has-icons-left">
            {{form.password1(class='input', placeholder='password1')}}
            <!--input class="input" type="password" name="password1" id="id_password1" maxlength="320" minlength="6" placeholder="Password1"-->
            <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
            </span>
        </p>
    </div>
    <div class="field">
        <p class="control">
            <input class="button is-success is-fullwidth" type="submit" value="注册">
        </p>
    </div>
</form>
{% endblock auth_form %}